@tailwind base;
@tailwind components;
@tailwind utilities;

.highlighted-title::after {
  content: "";
  display: block;
  width: 90%;
  height: 5px;
  background: #b01799;
  border-radius: 3px;
  position: relative;
  top: 0.5rem;
  left: 5%;
}

.faq-answer {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.faq-open {
  opacity: 1;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.social-links img {
  width: 40px;
  height: 40px;
}

/* animations :  */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(40px); /* Start further down */
  }
  60% {
    opacity: 0.2;
    transform: translateY(10px); /* Ease in the middle */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Final position */
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s cubic-bezier(0.25, 0.1, 0.25, 1); /* Smooth cubic easing */
}

.scroll-snap-y {
  scroll-snap-type: y mandatory;
}

.scroll-smooth {
  scroll-behavior: smooth;
}
