@tailwind base;
@tailwind components;
@tailwind utilities;

.highlighted-title::after {
  content: "";
  display: block;
  width: 90%;
  height: 5px;
  background: #b01799;
  border-radius: 3px;
  position: relative;
  top: 0.5rem;
  left: 5%;
}

.faq-answer {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.faq-open {
  opacity: 1;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.social-links img {
  width: 40px;
  height: 40px;
}
